$fs-main-title: 48px; // Date 폰트 사이즈
$fw-main-title: 800; // Date 폰트 웨이트

$fs-v1: 24px; // List View 폰트 사이즈
$fw-v1: 500; // List View 폰트 웨이트

$fs-edit-label: 18px; // Input 라벨 폰트 사이즈
$fw-edit-label1: 500; // Input 라벨 폰트 웨이트

$fs-edit-input1: 21px; // Input 폰트 사이즈
$fw-edit-input1: 400; // Input 폰트 웨이트

$fs-date1: 18px; // Date 폰트 사이즈
$fw-date1: 400; // Date 폰트 웨이트

$main-height: calc(100svh - 145px);


$color-k1: rgba(0, 0, 0, 1);
$color-k2: rgba(0, 0, 0, 0.9);
$color-k3: rgba(0, 0, 0, 0.75);
$color-k4: rgba(0, 0, 0, 0.6);
$color-k5: rgba(0, 0, 0, 0.45);
$color-k6: rgba(0, 0, 0, 0.3);
$color-k7: rgba(0, 0, 0, 0.15);
$color-k8: rgba(0, 0, 0, 0.1);
$color-k9: rgba(0, 0, 0, 0.05);

$color-w1: rgba(255, 255, 255, 1);
$color-w2: rgba(255, 255, 255, 0.9);
$color-w3: rgba(255, 255, 255, 0.75);
$color-w4: rgba(255, 255, 255, 0.6);
$color-w5: rgba(255, 255, 255, 0.45);
$color-w6: rgba(255, 255, 255, 0.3);
$color-w7: rgba(255, 255, 255, 0.15);
$color-w8: rgba(255, 255, 255, 0.1);
$color-w9: rgba(255, 255, 255, 0.05);

$color-r1: rgba(240, 78, 35, 1);
$color-r2: rgba(240, 78, 35, 0.9);
$color-r3: rgba(240, 78, 35, 0.75);
$color-r4: rgba(240, 78, 35, 0.6);
$color-r5: rgba(240, 78, 35, 0.45);
$color-r6: rgba(240, 78, 35, 0.3);
$color-r7: rgba(240, 78, 35, 0.15);
$color-r8: rgba(240, 78, 35, 0.1);
$color-r9: rgba(240, 78, 35, 0.05);

$color-g1: rgba(153, 202, 59, 1);
$color-g2: rgba(153, 202, 59, 0.9);
$color-g3: rgba(153, 202, 59, 0.75);
$color-g4: rgba(153, 202, 59, 0.6);
$color-g5: rgba(153, 202, 59, 0.45);
$color-g6: rgba(153, 202, 59, 0.3);
$color-g7: rgba(153, 202, 59, 0.15);
$color-g8: rgba(153, 202, 59, 0.1);
$color-g9: rgba(153, 202, 59, 0.05);

body {
  font-family: 'Pretendard', sans-serif;
  padding: 30px;
  user-select: none;
}

.header-container {
  display: flex; align-items: center; justify-content: space-between;
  height: 60px;
  margin-bottom: 21px;

  .logo-container {
    display: flex; align-items: center; gap: 45px;
    .logo {
      margin-left: 6px;
      height: 45px; width: auto;
    }
    .date {
      font-size: $fs-date1;
      font-weight: $fw-date1;
      color: $color-k5;
    }
  }
  .main-title {
    font-size: $fs-main-title;
    font-weight: $fw-main-title;

  }
}

.section {
  height: $main-height;
  box-sizing: border-box;
}

#list-view {
  display: flex; flex-direction: column;
  border: 3px solid $color-r5;
  .table-header {
    display: grid; grid-template-columns: 1fr 1fr 1fr 270px;
    border-bottom: 2px solid $color-r7;
    font-size: 18px; font-weight: 500;
    background-color: $color-r7;
    li {
      padding: 15px;
      display: flex; align-items: center; justify-content: center;
      border-right: 1px solid $color-k8;
      &:last-child {
        border-right: none;
      }
    }
  }

  #view-container {
    display: flex; flex-direction: column;
    height: 100%;
    .table-content {
      display: grid; grid-template-columns: 1fr 1fr 1fr 270px;
      height: 100%;
      border-bottom: 1px solid $color-k8;
      font-size: $fs-v1; font-weight: $fw-v1;
      &:last-child {
        border-bottom: none;
      }
      li {
        display: flex; align-items: center; justify-content: center;
        border-right: 1px solid $color-k8;
        min-width: 0; // flex 아이템이 콘텐츠 크기보다 작아질 수 있도록 허용.  이렇게 해야 말줄임표 적용 가능
        padding: 0 15px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:first-child {
          background-color: $color-r9;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.settings-table {
  &#settings {
    display: flex; flex-direction: column;
    border: 3px solid $color-g5;
    .table-header {
      display: grid; grid-template-columns: 75px 1fr 1fr 1fr 195px 210px;
      border-bottom: 2px solid $color-g7;
      font-size: 18px; font-weight: 500;
      background-color: $color-g7;
      li {
        padding: 15px;
        display: flex; align-items: center; justify-content: center;
        border-right: 1px solid $color-k8;
        &:last-child {
          border-right: none;
        }
      }
    }
    #list-container {
      height: 100%;
      display: grid; grid-template-rows: repeat(10, 1fr);

      .table-content {
        display: grid; grid-template-columns: 75px 1fr 1fr 1fr 195px 210px;
        height: 100%;
        border-bottom: 1px solid $color-k8;
        font-size: 16.5px;
        li {
          display: flex; align-items: center; justify-content: center;
          border-right: 1px solid $color-k8;
          min-width: 0; // flex 아이템이 콘텐츠 크기보다 작아질 수 있도록 허용.  이렇게 해야 말줄임표 적용 가능
          padding: 0 15px;
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:last-child {
            border-right: none;
            gap: 15px;
            .btn-modify, .btn-delete {
              cursor: pointer;
              height: 30px; width: 90px;
              border: 0; border-radius: 3px;
              font-size: 18px; font-weight: 500;
              color: $color-w1;
            }
            .btn-modify { background-color: $color-g1; }
            .btn-delete { background-color: $color-r1; }
          }
        }
      }
    }
  }
  &#order-edit {
    display: flex; flex-direction: column;
    border: 3px solid $color-g5;
    .table-header {
      display: grid; grid-template-columns: 60px 120px 1fr 1fr 1fr 195px;
      border-bottom: 2px solid $color-g7;
      font-size: 18px; font-weight: 500;
      background-color: $color-g7;
      li {
        padding: 15px;
        display: flex; align-items: center; justify-content: center;
        border-right: 1px solid $color-k8;
        &:last-child {
          border-right: none;
        }
      }
    }
    #order-edit-container {
      height: 100%;
      display: grid; grid-template-rows: repeat(10, 1fr);

      .table-content {
        &.selected {
          outline: 5px solid $color-g1;
          outline-offset: -3px;
        }
        display: grid; grid-template-columns: 60px 120px 1fr 1fr 1fr 195px;
        height: 100%;
        border-bottom: 1px solid $color-k8;
        font-size: 16.5px;
        li {
          display: flex; align-items: center; justify-content: center;
          border-right: 1px solid $color-k8;
          min-width: 0; // flex 아이템이 콘텐츠 크기보다 작아질 수 있도록 허용.  이렇게 해야 말줄임표 적용 가능
          padding: 0 15px;
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:first-child {
            background-color: $color-g9;
            input {
              cursor: pointer;
              height: 30px; width: 30px;
              margin: 0; padding: 0;
            }
          }
        }
      }
    }
  }
}

#slide-edit {
  padding: 45px;
  border: 3px solid $color-g5;
  .input-group {
    display: grid;
    column-gap: 75px;
    row-gap: 45px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%; height: fit-content;
    .input-container {
      .label {
        margin-bottom: 9px;
        font-size: $fs-edit-label;
        font-weight: $fw-edit-label1;
        color: $color-k1;
      }
      input {
        box-sizing: border-box;
        font-family: 'Pretendard', sans-serif;
        width: 100%;
        margin: 0;
        padding: 12px 15px;
        border: 1px solid $color-k6;
        border-radius: 6px;
        font-size: $fs-edit-input1;
        font-weight: $fw-edit-input1;
        background-color: $color-w1;
        &::placeholder {
          color: $color-k6;
        }
      }
      &:nth-child(1) {
        grid-column: 1 / 3 ;
        grid-row: 1 / 2 ;
      }
      &:nth-child(2) {
        grid-column: 3 / 5 ;
        grid-row: 1 / 2 ;
      }
      &:nth-child(3) {
        grid-column: 1 / 3 ;
        grid-row: 2 / 3 ;
      }
      &:nth-child(4) {
        grid-column: 3 / 4 ;
        grid-row: 2 / 3 ;
        margin-right: -24px;
      }
      &:nth-child(5) {
        grid-column: 4 / 5 ;
        grid-row: 2 / 3 ;
        margin-left: -24px;
      }
    }
  }
}

.btn-group {
  display: flex; gap: 30px;
  .btn-1, .btn-2, .btn-3 {
    display: flex; justify-content: center; align-items: center; gap: 12px;
    cursor: pointer;
    height: 60px;
    width: 165px;
    padding: 0;
    border-radius: 12px;
    font-size: 21px; font-weight: 500;
    img {
      height: 21px; width: 21px;
    }
    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  .btn-1 {
    border: 0;
    background-color: $color-r1;
    color: $color-w1;
  }
  .btn-2 {
    border: 0;
    background-color: $color-g1;
    color: $color-w1;
  }
  .btn-3 {
    border: 3px solid $color-g1;
    background-color: $color-w1;
    color: $color-g1;
  }
}

.hide {
  display: none;
}