@charset "UTF-8";
body {
  font-family: "Pretendard", sans-serif;
  padding: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 21px;
}
.header-container .logo-container {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header-container .logo-container .logo {
  margin-left: 6px;
  height: 45px;
  width: auto;
}
.header-container .logo-container .date {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.45);
}

.section {
  height: calc(100svh - 145px);
  box-sizing: border-box;
}

#view-section {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(240, 78, 35, 0.45);
}
#view-section .table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 240px;
  border-bottom: 2px solid rgba(240, 78, 35, 0.15);
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(240, 78, 35, 0.15);
}
#view-section .table-header li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#view-section .table-header li:last-child {
  border-right: none;
}
#view-section #view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#view-section #view-container .table-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 240px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 21px;
}
#view-section #view-container .table-content:last-child {
  border-bottom: none;
}
#view-section #view-container .table-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0;
  padding: 0 15px;
}
#view-section #view-container .table-content li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#view-section #view-container .table-content li:first-child {
  background-color: rgba(240, 78, 35, 0.05);
}
#view-section #view-container .table-content li:last-child {
  border-right: none;
}

#list-section {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(153, 202, 59, 0.45);
}
#list-section .table-header {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr 195px 210px;
  border-bottom: 2px solid rgba(153, 202, 59, 0.15);
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(153, 202, 59, 0.15);
}
#list-section .table-header li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#list-section .table-header li:last-child {
  border-right: none;
}
#list-section #list-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
#list-section #list-container .table-content {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr 195px 210px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16.5px;
}
#list-section #list-container .table-content.selected {
  outline: 5px solid rgb(153, 202, 59);
  outline-offset: -3px;
}
#list-section #list-container .table-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0;
  padding: 0 15px;
}
#list-section #list-container .table-content li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#list-section #list-container .table-content li:first-child {
  background-color: rgba(153, 202, 59, 0.05);
}
#list-section #list-container .table-content li:first-child input {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}
#list-section #list-container .table-content li:last-child {
  border-right: none;
  gap: 15px;
}
#list-section #list-container .table-content li:last-child .btn-modify, #list-section #list-container .table-content li:last-child .btn-delete {
  cursor: pointer;
  height: 30px;
  width: 90px;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
#list-section #list-container .table-content li:last-child .btn-modify:disabled, #list-section #list-container .table-content li:last-child .btn-delete:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
#list-section #list-container .table-content li:last-child .btn-modify {
  background-color: rgb(153, 202, 59);
}
#list-section #list-container .table-content li:last-child .btn-delete {
  background-color: rgb(240, 78, 35);
}

#edit-section {
  padding: 45px;
  border: 3px solid rgba(153, 202, 59, 0.45);
}
#edit-section .input-group {
  display: grid;
  -moz-column-gap: 75px;
       column-gap: 75px;
  row-gap: 45px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
#edit-section .input-group .input-container .label {
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
#edit-section .input-group .input-container input {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  width: 100%;
  margin: 0;
  padding: 12px 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: 21px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
}
#edit-section .input-group .input-container input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#edit-section .input-group .input-container input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#edit-section .input-group .input-container:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
#edit-section .input-group .input-container:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/2;
}
#edit-section .input-group .input-container:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/3;
}
#edit-section .input-group .input-container:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-right: -24px;
}
#edit-section .input-group .input-container:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
  margin-left: -24px;
}

.btn-group {
  display: flex;
  gap: 30px;
}
.btn-group .btn-1, .btn-group .btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  height: 60px;
  width: 165px;
  padding: 0;
  border: 0;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.btn-group .btn-1 img, .btn-group .btn-2 img {
  height: 21px;
  width: 21px;
}
.btn-group .btn-1 {
  background-color: rgb(240, 78, 35);
}
.btn-group .btn-2 {
  background-color: rgb(153, 202, 59);
}

/* SVG 아이콘을 위한 임시 스타일 */
/* 나중에 up.svg, down.svg 파일이 생기면 삭제해도 됩니다. */
#btn-order-up img, #btn-order-down img {
  transform: rotate(-90deg);
}

#btn-order-down img {
  transform: rotate(90deg);
}/*# sourceMappingURL=basic.css.map */